body {
    background: #00a651;
  }
  
  .carta {
    position: relative;
    float: left;
    width: 150px;
    height: 220px;
    border-radius: 10px;
    background: white;
    -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  }
  
  .texto-superior{
    font-size: 35px;
  }
  
  .numero{
    font: 100px/220px Georgia, serif;
  }
  
  .texto-inferior{
    font-size: 35px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  